# Snowflake connection
SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=your_snowflake_username
SNOWFLAKE_PRIVATE_KEY_PATH=rsa_key.p8
SNOWFLAKE_ROLE=MARKETPULSE_ROLE
SNOWFLAKE_WAREHOUSE=MARKETPULSE_WH
SNOWFLAKE_DATABASE=MARKETPULSE_DEV
SNOWFLAKE_SCHEMA=RAW

# Alpha Vantage — get your free key at https://www.alphavantage.co/support/#api-key
ALPHAVANTAGE_API_KEY=GERYLL8EUSQLPEL
